body {
  background-image: url(img/123.jpg);
  background-color: #c7b39b;
  background-size: cover; 
 }


 #rin
{
margin: 30px 0 5px;
padding: 28px 0 5px;
text-align: center;
background:white;
}

#rin img 
{
  background-color: white;
  width: 40px;
  height: 30px;

}

#rin li {display: inline-block;}
#rin li:after 
{
content: "|";
color: #606060;
display: inline-block;
vertical-align:top;
}
#rin li:last-child:after {content: none;}
#rin a 
{
text-decoration: none;
font-family: 'Ubuntu Condensed', sans-serif;
letter-spacing: 2px;
position: relative;
padding-bottom: 20px;
margin: 0 34px 0 30px;
font-size: 17px;
text-transform: uppercase;
display: inline-block;
transition: color .2s;
}


#rin a, #rin a:visited {color: #000000;}
#rin a.current, #rin a:hover{color: #feb386;}
#rin a:before,
#rin a:after
{
content: "";
position: absolute;
height: 4px;
top: auto;
right: 50%;
bottom: -5px;
left: 50%;
background: #feb386;
transition: .8s;
}

#rin a:hover:before, #rin .current:before {left: 0;}
#rin a:hover:after, #rin .current:after {right: 0;}   
@media (max-width: 550px)
{
#rin {padding-top: 0;}
#rin li {display: block;}
#rin li:after {content: none;}
#rin a 
{
padding: 25px 0 20px; 
margin: 0 30px;
}

#container {
  margin: 0px 0 5px;
  background: #555;
  overflow: hidden
}


  